
@import "./table-cells.css";

:root {
  /* the border sizes used in the sheet book PDF are appx. 0.5/1.0/1.5 pt */
  --note-border-width: 0.6pt;
  --note-border-width-em: 1.1pt;
  --note-border-width-x-em: 2.2pt;
}

html, body {
  font-size: 11pt;
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}
